<div class="row">
  <%= form_for client do |f| %>
    <% if flash[:notice] %>
      <% flash[:notice].each do |msg| %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= msg %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    <% end %>
    <%= f.hidden_field :id %>
    <div class="row col-md-12">
      <div class="col-md-12">
        <div class="form-row">
          <div class="form-group col-md-12">
            <%= f.label :name, value="Name (this will appear in dropdowns)", class:"col-md-12 control-label" %>
            <%= f.text_field :name, class:"form-control form-control-sm" %>
          </div>
        </div>
        <h4>Billing Information</h4>
        <div class="form-row">
          <div class="form-group col-md-12">
            <%= f.label :qb_name, value="Account Name", class:"col-md-12 control-label" %>
            <%= f.text_field :qb_name, class:"form-control form-control-sm" %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-7">
            <%= f.label :billing_address1, value="Address", class:"col-md-12 control-label" %>
            <%= f.text_field :billing_address1, class:"form-control form-control-sm" %>
          </div>
          <div class="form-group col-md-5">
            <%= f.label :billing_address2, value="Bldg/Ste", class:"col-md-12 control-label" %>
            <%= f.text_field :billing_address2, class:"form-control form-control-sm" %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <%= f.label :billing_city, value="City", class:"col-md-12 control-label" %>
            <%= f.text_field :billing_city, class:"form-control form-control-sm" %>
          </div>
          <div class="form-group col-md-3">
            <%= f.label :billing_state, value="State", class:"col-md-12 control-label" %>
            <%= f.text_field :billing_state, class:"form-control form-control-sm" %>
          </div>
          <div class="form-group col-md-3">
            <%= f.label :billing_zip, value="Zip", class:"col-md-12 control-label" %>
            <%= f.text_field :billing_zip, class:"form-control form-control-sm" %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <%= f.label :billing_email, value="AR Email", class:"col-md-12 control-label" %>
            <%= f.text_field :billing_email, class:"form-control form-control-sm" %>
          </div>
          <div class="form-group col-md-3">
            <%= f.label :net_terms, value="Terms", class:"col-md-12 control-label" %>
            <%= f.text_field :net_terms, class:"form-control form-control-sm" %>
          </div>
        </div>
      </div>
    </div>
    <h4 class="col-md-12">Offices</h4>
    <div class="form-row col-md-12">
      <div class="form-group col-md-12 mx-2">
        <%= f.collection_check_boxes :office_ids, current_user.offices, :id, :name %>
      </div>
    </div>
    <div class="form-group row col-md-1">
      <div class="form-group col-md-12">
        <%= f.submit %>
      </div>
    </div>
  <% end %>
  <% if client.id %>
    <%= render partial: 'tariffs', locals: {client: client, newTariff: @tariff} %>
  <% end %>
</div>