<div class="row">
  <%= form_for location do |f| %>
    <% if flash[:notice] %>
      <% flash[:notice].each do |msg| %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= msg %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <br>
    <% end %>
    <div class="row col-md-12">
      <div class="col-md-12">
        <div class="form-row">
          <div class="form-group col-md-12">
            <%= f.label :company_name, value="Company Name (this appears in dropdowns)", class:"col-md-12 control-label" %>
            <%= f.text_field :company_name, class:"form-control form-control-sm" %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-7">
            <%= f.label :address1, value="Address", class:"col-md-7 control-label" %>
            <%= f.text_field :address1, class:"form-control form-control-sm" %>
          </div>
          <div class="form-group col-md-5">
            <%= f.label :address2, value="Bldg/Ste", class:"col-md-5 control-label" %>
            <%= f.text_field :address2, class:"form-control form-control-sm" %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <%= f.label :city, value="City", class:"col-md-6 control-label" %>
            <%= f.text_field :city, class:"form-control form-control-sm" %>
          </div>
          <div class="form-group col-md-3">
            <%= f.label :state, value="State", class:"col-md-3 control-label" %>
            <%= f.select :state, Location::STATES, {include_blank: true}, class:"form-control form-control-sm" %>
          </div>
          <div class="form-group col-md-3">
            <%= f.label :zip, value="Zip", class:"col-md-3 control-label" %>
            <%= f.text_field :zip, class:"form-control form-control-sm" %>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row col-md-1">
      <div class="form-group col-md-12">
        <%= f.submit %>
      </div>
    </div>
  <% end %>
</div>